@import ../config

body
  background-color: $page-background

*
  font-family: $page-font
  font-size: $font-size
  color: $text-color
  line-height: $line-height

a
  color: $a-color
  text-decoration: none
  &:hover
    color: $a-color-hover
  &.underline
    border-bottom: 1px solid $a-underline-color
  &.dotted
    border-bottom: 1px dotted $a-underline-color
  &.underline, &.dotted
    &:hover
      border-color: $a-color-hover
  &:focus
    outline: 0
    box-shadow: $a-focus

.justified
  text-align: justify

.aligned
  &.left
    text-align: left
  &.center
    text-align: center
  &.right
    text-align: right

.vertical.align
  &.top
    vertical-align: top
  &.middle
    vertical-align: middle
  &.bottom
    vertical-align: bottom

.uppercase
  text-transform: uppercase
.lowercase
  text-transform: lowercase
.capitalize
  text-transform: capitalize

.muted
  color: $muted-text-color

body.dark
  background-color: $dark-page-background

.dark
  *
    color: $dark-text-color

  a
    color: $a-color
    &:hover
      color: $dark-a-color-hover
    &.underline, &.dotted
      border-color: $dark-a-underline-color
      &:hover
        border-color: $dark-a-color-hover
    &:focus
      box-shadow: $dark-a-focus

  .muted
    color: $dark-muted-text-color