@import ../config

button, .button
  font-weight: 500
  border: none
  background-color: $button-bg-default
  color: $button-color-default
  padding: $button-padding
  border-radius: $button-radius
  user-select: none
  &:focus
    outline: none
  &:focus:not(.disabled)
    box-shadow: $button-focus
  &:hover:not(.disabled)
    background-color: darken($button-bg-default, $button-hover-darken)
    color: $button-color-default
  &:active:not(.disabled)
    background-color: darken($button-bg-default, $button-active-darken)
  &.bordered
    border: $generic-border
    padding: $button-bordered-padding
    &:hover:not(.disabled)
      border-color: darken($button-border-default, $button-hover-darken)
    &:active:not(.disabled)
      border-color: darken($button-border-default, $button-active-darken)

  &.round
    border-radius: 9999px
  &.disabled
    cursor: not-allowed
    opacity: 0.5
  
  &.black
    background-color: $button-bg-black
    color: $clr-white
    &:focus:not(.disabled)
      box-shadow: $button-black-focus
    &:hover:not(.disabled)
      background-color: lighten($button-bg-black, $button-hover-darken * 2)
      color: $clr-white
    &:active:not(.disabled)
      background-color: lighten($button-bg-black, $button-active-darken * 2)
    &.bordered
      border-color: $button-border-black
  
  &.white
    background-color: $button-bg-white
    &:focus:not(.disabled)
      box-shadow: $button-white-focus
    &:hover:not(.disabled)
      background-color: darken($button-bg-white, $button-hover-darken)
    &:active:not(.disabled)
      background-color: darken($button-bg-white, $button-active-darken)
    &.bordered
      border-color: $button-border-white
      &:hover:not(.disabled)
        border-color: darken($button-border-white, $button-hover-darken)
      &:active:not(.disabled)
        border-color: darken($button-border-white, $button-active-darken)
  
  @each $hue in $hue-list
    &.#{$hue}
      background-color: color($hue, $button-bg-hue)
      color: color($hue, $button-color-hue)
      &:focus:not(.disabled)
        box-shadow: $focus color($hue, $button-focus-hue)
      &:hover:not(.disabled)
        background-color: darken(color($hue, $button-bg-hue), $button-hover-darken)
        color: darken(color($hue, $button-color-hue), $button-hover-darken)
      &:active:not(.disabled)
        background-color: darken(color($hue, $button-bg-hue), $button-active-darken)
        color: darken(color($hue, $button-color-hue), $button-hover-darken)
      &.bordered
        border: 1px solid color($hue, $button-border-hue)
        &:hover:not(.disabled)
          border-color: darken(color($hue, $button-border-hue), $button-hover-darken)
        &:active:not(.disabled)
          border-color: darken(color($hue, $button-border-hue), $button-active-darken)
      &.solid
        background-color: color($hue, $button-bg-hue-solid)
        color: $button-color-hue-solid
        &:focus:not(.disabled)
          box-shadow: $focus color($hue, $button-focus-hue-solid)
        &:hover:not(.disabled)
          background-color: darken(color($hue, $button-bg-hue-solid), $button-hover-darken)
          color: $button-color-hue-solid
        &:active:not(.disabled)
          background-color: darken(color($hue, $button-bg-hue-solid), $button-active-darken)
          color: $button-color-hue-solid
        &.bordered
          border-color: color($hue, $button-border-hue-solid)
          &:hover:not(.disabled)
            border-color: darken(color($hue, $button-border-hue-solid), $button-hover-darken)
          &:active:not(.disabled)
            border-color: darken(color($hue, $button-border-hue-solid), $button-active-darken)

.buttons
  display: flex
  button, .button
    border-radius: 0
    &:focus:not(.disabled)
      position: relative
      z-index: 100
    &:first-child
      border-top-left-radius: $button-radius
      border-bottom-left-radius: $button-radius
    &:last-child
      border-top-right-radius: $button-radius
      border-bottom-right-radius: $button-radius
    &.bordered:not(:first-child)
      border-left: 0

.dark
  button, .button
    background-color: $dark-button-bg-default
    color: $dark-button-color-default
    &:focus:not(.disabled)
      box-shadow: $dark-button-focus
    &:hover:not(.disabled)
      background-color: lighten($dark-button-bg-default, $button-hover-darken)
      color: $dark-button-color-default
    &:active:not(.disabled)
      background-color: lighten($dark-button-bg-default, $button-active-darken)
    &.bordered
      border: $dark-generic-border
      padding: $button-bordered-padding
      &:hover:not(.disabled)
        border-color: lighten($dark-button-border-default, $button-hover-darken)
      &:active:not(.disabled)
        border-color: lighten($dark-button-border-default, $button-active-darken)

    &.black
      background-color: $button-bg-black
      color: $clr-white
      &:focus:not(.disabled)
        box-shadow: $button-black-focus
      &:hover:not(.disabled)
        background-color: lighten($button-bg-black, $button-hover-darken)
        color: $clr-white
      &:active:not(.disabled)
        background-color: lighten($button-bg-black, $button-active-darken)
      &.bordered
        border-color: $button-border-black
    
    &.white
      background-color: $button-bg-white
      color: $button-color-default
      &:focus:not(.disabled)
        box-shadow: $button-white-focus
      &:hover:not(.disabled)
        background-color: darken($button-bg-white, $button-hover-darken)
        color: $button-color-default
      &:active:not(.disabled)
        background-color: darken($button-bg-white, $button-active-darken)
      &.bordered
        border-color: $button-border-white
        &:hover:not(.disabled)
          border-color: darken($button-border-white, $button-hover-darken)
        &:active:not(.disabled)
          border-color: darken($button-border-white, $button-active-darken)

    @each $hue in $hue-list
      &.#{$hue}
        background-color: darken(color($hue, $dark-button-bg-hue), $dark-button-bg-hue-darken)
        color: $dark-button-color
        &:focus:not(.disabled)
          box-shadow: $focus color($hue, $dark-button-focus-hue)
        &:hover:not(.disabled)
          background-color: lighten(darken(color($hue, $dark-button-bg-hue), $dark-button-bg-hue-darken), $button-hover-darken)
          color: $dark-button-color
        &:active:not(.disabled)
          background-color: lighten(darken(color($hue, $dark-button-bg-hue), $dark-button-bg-hue-darken), $button-active-darken)
          color: $dark-button-color
        &.bordered
          border: 1px solid color($hue, $dark-button-border-hue)
          &:hover:not(.disabled)
            border-color: darken(color($hue, $dark-button-border-hue), $button-hover-darken)
          &:active:not(.disabled)
            border-color: darken(color($hue, $dark-button-border-hue), $button-active-darken)
        &.solid
          background-color: color($hue, $dark-button-bg-hue-solid)
          color: $dark-button-color-hue-solid
          &:focus:not(.disabled)
            box-shadow: $focus color($hue, $dark-button-focus-hue-solid)
          &:hover:not(.disabled)
            background-color: darken(color($hue, $dark-button-bg-hue-solid), $button-hover-darken)
            color: $dark-button-color-hue-solid
          &:active:not(.disabled)
            background-color: darken(color($hue, $dark-button-bg-hue-solid), $button-active-darken)
            color: $dark-button-color-hue-solid
          &.bordered
            border-color: color($hue, $dark-button-border-hue-solid)
            &:hover:not(.disabled)
              border-color: darken(color($hue, $dark-button-border-hue-solid), $button-hover-darken)
            &:active:not(.disabled)
              border-color: darken(color($hue, $dark-button-border-hue-solid), $button-active-darken)