@import ../config

form
  display: flex
  align-items: flex-start
  input, textarea
    background-color: transparent
    min-width: $input-min-width
    padding: $input-padding 
    border-radius: $input-radius
    border: $generic-border
    &:focus
      outline: none
      border-color: $input-focus
    &:not(:last-child)
      margin-right: $input-spacing
  &:not(.inline)
    flex-direction: column
    input, textarea
      &:not(:last-child)
        margin-bottom: $input-spacing
  label
    font-weight: bold
    font-size: $label-font-size

.dark
  input, textarea
    border-color: $dark-input-border