@import ../config
@import dimmer

.loader
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  display: none
  .dimmer.active &, &.active
    display: block
  &:before
    content: ""
    display: block
    border-radius: 50%
    height: $loader-size
    width: $loader-size
    border: $loader-width solid $loader-bg
    border-top: $loader-width solid $loader-color
    animation-name: spin
    animation-timing-function: linear
    animation-duration: $loader-speed
    animation-iteration-count: infinite
  &.slow
    &:before
      animation-direction: reverse
      animation-duration: $loader-speed * 2

.dark
  .loader
    &:before
      border: $loader-width solid $dark-loader-bg
      border-top: $loader-width solid $dark-loader-color


@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
