@import ../config

.menu
  &.fixed-height
    min-height: $menu-height
    .item
      line-height: $menu-height
      height: $menu-height
      white-space: nowrap
      padding-top: 0 !important
      padding-bottom: 0 !important
      h1, h2, h3, h4, h5, h6, .header, .sub.header
        display: inline-block
  &:not(.basic):not(.vertical)
    background-color: $menu-bg
    border-bottom: 1px solid $menu-border
  &.detatched
    border-radius: $border-radius
    border: 1px solid $menu-border
  &.vertical
    border-bottom: $generic-border
  .item
    display: inline-block
    padding: $menu-item-padding
  &.divided
    display: flex
    .item
      color: $text-color
      border-right: $generic-border
    a.item:hover
      background-color: $menu-item-hover
  &.fixed
    width: 100%
    top: 0
    z-index: 1
    position: fixed

.menu-offset
  padding-block-start: $menu-height

.dark
  .menu
    &:not(.basic):not(.vertical)
      background-color: $dark-menu-bg
      border-bottom: 1px solid $dark-menu-border
    &.detatched
      border: 1px solid $dark-menu-border
    &.vertical
      border-bottom: $dark-generic-border
    &.divided
      .item
        color: $dark-text-color
        border-right: $dark-generic-border
      a.item:hover
        background-color: $dark-menu-item-hover