@import ../config

.menu
  &:not(.basic):not(.vertical)
    background-color: $clr-white
    box-shadow: 0 0 0 1px $clr-grey-300
  &.detatched
    border-radius: $border-radius
  &.vertical
    border-bottom: 1px solid $clr-grey-300
  .item
    display: inline-block
    padding: $menu-item-padding
  &.divided
    display: flex
    .item
      color: $text-color
      border-right: 1px solid $clr-grey-300
    a.item:hover
      background-color: $clr-grey-100