.navigation
  &.fixed
    position: fixed
    z-index: 3
    top: 0
    left: 0
    height: 100%
    width: 100%
    pointer-events: none
    .sidebar, .menu
      pointer-events: all
    .sidebar
      position: relative
    .menu
      &.fixed
        position: relative