@import processors/color

$page-font : -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
$header-font : $page-font

$font-size : 14px

$page-background: $clr-grey-50
$line-height: 1.6875
$text-color: $clr-grey-900

$h: 2.25rem, 2rem, 1.75rem, 1.5rem, 1.25rem, 0.85rem

$container-width: 1100px

$border-radius: 5px
$generic-border: 1px solid $clr-grey-300


$blockquote-border: 4px solid $clr-grey-300

$segment-padding: 14px
$segment-spacing: 14px
$segment-margin: $segment-spacing 0

$focus: 0 0 0 4px //box-shadow

$a-focus: $focus $clr-blue-100

$spacer-height: 14px

$button-padding: 10px 14px
$button-bordered-padding: 9px 13px
$button-radius: $border-radius
$button-hover-darken: 3
$button-active-darken: $button-hover-darken * 2
$button-focus: $a-focus //only for non colored buttons

$tag-padding: 4px 8px
$tag-bordered-padding: 3px 7px
$tag-radius: $border-radius
$tag-hover-darken: $button-hover-darken
$tag-active-darken: $button-active-darken
$tag-focus: $button-focus

$menu-item-padding: $button-padding

$breadcrumb-spacing: 4px

$input-padding: 11px 15px
$input-spacing: 6px
$input-radius: $border-radius

$input-min-width: 200px

$label-font-size: nth($h, 6)

$loader-size: 24px
$loader-speed: 0.5s
$loader-width: 3px
