@import processors/color

// BASE

$page-font : -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
$font-size : 14px
$header-font : $page-font
$h: 2.25rem, 2rem, 1.75rem, 1.5rem, 1.25rem, 0.85rem
$line-height: 1.6875

$container-width: 1100px
$container-margin: 4rem
$border-radius: 5px

$generic-border-color: $clr-grey-300
$dark-generic-border-color: $clr-grey-800

$generic-border: 1px solid $generic-border-color
$dark-generic-border: 1px solid $dark-generic-border-color
$page-background: $clr-grey-50
$text-color: $clr-grey-900
$muted-text-color: $clr-grey-500

$dark-page-background: $clr-black-alt
$dark-text-color: $clr-grey-50
$dark-muted-text-color: $clr-grey-700

$focus: 0 0 0 4px //box-shadow

// ANCHOR / LINK

$a-color: $clr-blue
$a-color-hover: $clr-blue-400
$a-focus: $focus $clr-blue-100
$a-underline-color: $clr-blue-200

$dark-a-color-hover: $clr-blue-600
$dark-a-underline-color: $clr-blue-700
$dark-a-focus: $focus transparentize($clr-blue-700, .5)

// BLOCKQUOTE

$blockquote-border: 4px solid $clr-grey-300
$dark-blockquote-border: 4px solid $clr-grey-800

// BREADCRUMB

$breadcrumb-spacing: 4px
$breadcrumb-color: $clr-grey-300
$dark-breadcrumb-color: $clr-grey-700

// BUTTON

$button-bg-default: $clr-grey-200
$button-color-default: $clr-grey-700
$button-border-default: $clr-grey-300
$button-focus: $focus $clr-grey-300

$dark-button-bg-default: $clr-grey-800
$dark-button-color-default: $clr-grey-50
$dark-button-border-default: $clr-grey-700
$dark-button-focus: $focus $clr-grey-700

$button-bg-black: $clr-black
$button-color-black: $clr-white
$button-border-black: $clr-grey-900
$button-black-focus: $focus $clr-grey-400

$button-bg-white: $clr-white
$button-border-white: $button-border-default
$button-white-focus: $focus $clr-grey-200

$button-bg-hue: 50
$button-color-hue: 500
$button-border-hue: 100
$button-focus-hue: 100

$button-bg-hue-solid: 500
$button-color-hue-solid: $clr-white
$button-border-hue-solid: 700
$button-focus-hue-solid: 200

$dark-button-bg-hue: 900
$dark-button-color: $clr-white
$dark-button-border-hue: 600
$dark-button-focus-hue: 600

$dark-button-bg-hue-solid: 600
$dark-button-color-hue-solid: $clr-white
$dark-button-border-hue-solid: 800
$dark-button-focus-hue-solid: 800

$button-padding: 10px 14px
$button-bordered-padding: 9px 13px
$button-radius: $border-radius
$button-hover-darken: 3
$button-active-darken: $button-hover-darken * 2

// CARD

$card-bg: $clr-white
$card-border-radius: $border-radius
$card-border: $generic-border
$card-box-shadow: none
$card-width: 300px
$card-padding: 1rem

$dark-card-bg: $clr-grey-900
$dark-card-border: $dark-generic-border

// COUNTER

$counter-padding: 0 1rem

// DIMMER

$dimmer-bg: transparentize($clr-white, 0.15)
$dark-dimmer-bg: transparentize($clr-grey-900, 0.15)

// FORM

// FORM > INPUT

$input-padding: 11px 15px
$input-spacing: 6px
$input-radius: $border-radius
$input-min-width: 200px

$input-focus: $clr-grey-400

$dark-input-border: $clr-grey-800

// FORM > LABEL

$label-font-size: nth($h, 6)

// IMG

$img-round-border-radius: $border-radius

// LOADER

$loader-size: 24px
$loader-speed: 0.5s
$loader-width: 3px

$loader-color: $clr-grey
$loader-bg: $clr-grey-300

$dark-loader-color: $clr-grey
$dark-loader-bg: $clr-grey-700

// MENU

$menu-bg: $clr-white
$menu-border: $generic-border-color
$menu-item-padding: $button-padding
$menu-item-hover: $clr-grey-100

$dark-menu-bg: $clr-grey-900
$dark-menu-border: $dark-generic-border-color
$dark-menu-item-hover: $clr-grey-800

// SEGMENT

$segment-bg: $clr-white
$segment-padding: 1rem
$segment-spacing: 1rem
$segment-margin: $segment-spacing 0

$dark-segment-bg: $clr-grey-900

// SPACER

$spacer-height: 14px

// TAB

$tab-padding: 8px 14px
$tab-border: $generic-border
$tab-border-radius: $border-radius
$tab-border-radius: $border-radius
$tab-active-border-bottom: 1px solid $page-background
$dark-tab-border: $dark-generic-border
$dark-tab-active-border-bottom: 1px solid $dark-page-background

// TAG

$tag-padding: 4px 8px
$tag-bordered-padding: 3px 7px
$tag-radius: $border-radius
$tag-hover-darken: $button-hover-darken
$tag-active-darken: $button-active-darken
$tag-focus: $button-focus

$dark-tag-bg-default: $clr-grey-800
$dark-tag-color-default: $clr-grey-50
$dark-tag-border-default: $clr-grey-700
$dark-tag-focus: $focus $clr-grey-700

$tag-bg-hue: 50
$tag-color-hue: 500
$tag-border-hue: 100
$tag-focus-hue: 100

$tag-bg-hue-solid: 500
$tag-color-hue-solid: $clr-white
$tag-border-hue-solid: 700
$tag-focus-hue-solid: 200

$dark-tag-bg-hue: 900
$dark-tag-color: $clr-white
$dark-tag-border-hue: 600
$dark-tag-focus-hue: 600

$dark-tag-bg-hue-solid: 600
$dark-tag-color-hue-solid: $clr-white
$dark-tag-border-hue-solid: 800
$dark-tag-focus-hue-solid: 800

// SIDEBAR

$sidebar-bg: $clr-white
$sidebar-border: $generic-border
$sidebar-padding: 1rem
$sidebar-width: 300px

$dark-sidebar-bg: $clr-grey-900
$dark-sidebar-border: $dark-generic-border